.CoinsManager{
    width: 100%;
    padding-bottom: 15px;
    margin-top: -10px;
}
.CMList{
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}
.CMHeader{
    text-align: center;
    padding-bottom: 10px;
    color: #fff;
    font-size: 15px;
}