.ScoreboardBody{
    min-height: 400px;
    background: rgb(3, 9, 32);
    display: block;
    border-radius: 30px;
    padding: 30px;
    color: #fff;
}
.ScoreboardBody p{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}
.ScoreboardBody ul{
    margin: 20px;
    font-size: 18px;
}